parameters:
	rdx_php:
		errorSuppressionEnabled: true
		errorSuppressionAllowFunctionCall: true
		foreachByReferenceValueEnabled: true
		staticFunctionVariablesEnabled: true

services:
	-
		class: rdx\PhpstanExtra\Php\ClassConstantVisibilityRule
		tags: [phpstan.rules.rule]
	-
		class: rdx\PhpstanExtra\Php\ClassMethodVisibilityRule
		tags: [phpstan.rules.rule]

	-
		class: rdx\PhpstanExtra\Php\ErrorSuppressionRule
		arguments:
			enabled: %rdx_php.errorSuppressionEnabled%
			allowFunctionCall: %rdx_php.errorSuppressionAllowFunctionCall%
		tags: [phpstan.rules.rule]

	-
		class: rdx\PhpstanExtra\Php\ForeachByReferenceValueRule
		arguments:
			enabled: %rdx_php.foreachByReferenceValueEnabled%
		tags: [phpstan.rules.rule]

	-
		class: rdx\PhpstanExtra\Php\StaticFunctionVariablesRule
		arguments:
			enabled: %rdx_php.staticFunctionVariablesEnabled%
		tags: [phpstan.rules.rule]

	-
		class: rdx\PhpstanExtra\Php\ImplicitlyNullParametersRule
		tags: [phpstan.rules.rule]

	-
		class: rdx\PhpstanExtra\Php\RoundReturnTypeExtension
		tags: [phpstan.broker.expressionTypeResolverExtension]

	errorFormatter.byfile:
		class: rdx\PhpstanExtra\Php\ByFileErrorFormatter

parametersSchema:
	rdx_php: structure([
		errorSuppressionEnabled: bool()
		errorSuppressionAllowFunctionCall: bool()
		foreachByReferenceValueEnabled: bool()
		staticFunctionVariablesEnabled: bool()
	])
