parameters:
	rdx_php:
		toStringConversion: false
		strictClosures: true
		errorSuppressionEnabled: true
		errorSuppressionAllowFunctionCall: true
		unusedVariablesEnabled: true
		foreachByReferenceValueEnabled: true
		staticFunctionVariablesEnabled: true

services:
	-
		class: rdx\PhpstanExtra\Php\ClassConstantVisibilityRule
		tags: [phpstan.rules.rule]
	-
		class: rdx\PhpstanExtra\Php\ClassMethodVisibilityRule
		tags: [phpstan.rules.rule]

	-
		class: rdx\PhpstanExtra\Php\ErrorSuppressionRule
		arguments:
			enabled: %rdx_php.errorSuppressionEnabled%
			allowFunctionCall: %rdx_php.errorSuppressionAllowFunctionCall%
		tags: [phpstan.rules.rule]

	-
		class: rdx\PhpstanExtra\Php\UnusedVariablesRule
		arguments:
			enabled: %rdx_php.unusedVariablesEnabled%
		tags: [phpstan.rules.rule]

	-
		class: rdx\PhpstanExtra\Php\ForeachByReferenceValueRule
		arguments:
			enabled: %rdx_php.foreachByReferenceValueEnabled%
		tags: [phpstan.rules.rule]

	-
		class: rdx\PhpstanExtra\Php\StaticFunctionVariablesRule
		arguments:
			enabled: %rdx_php.staticFunctionVariablesEnabled%
		tags: [phpstan.rules.rule]

	-
		class: rdx\PhpstanExtra\Php\ImplicitlyNullParametersRule
		tags: [phpstan.rules.rule]

	-
		class: rdx\PhpstanExtra\Php\RoundReturnTypeExtension
		tags: [phpstan.broker.expressionTypeResolverExtension]

	# Conditional rules
	-
		class: rdx\PhpstanExtra\Php\NoToStringConversionRule
	-
		class: rdx\PhpstanExtra\Php\ClosureParamTypesRule
	-
		class: rdx\PhpstanExtra\Php\ReturnTypeClosureRule
	-
		class: rdx\PhpstanExtra\Php\ParamTypeClosureRule
	-
		class: rdx\PhpstanExtra\Php\PropertyTypeClosureRule

	errorFormatter.byfile:
		class: rdx\PhpstanExtra\Php\ByFileErrorFormatter
	errorFormatter.byerror:
		class: rdx\PhpstanExtra\Php\ByErrorErrorFormatter

conditionalTags:
	rdx\PhpstanExtra\Php\NoToStringConversionRule:
		phpstan.rules.rule: %rdx_php.toStringConversion%
	rdx\PhpstanExtra\Php\ClosureParamTypesRule:
		phpstan.rules.rule: %rdx_php.strictClosures%
	rdx\PhpstanExtra\Php\ReturnTypeClosureRule:
		phpstan.rules.rule: %rdx_php.strictClosures%
	rdx\PhpstanExtra\Php\ParamTypeClosureRule:
		phpstan.rules.rule: %rdx_php.strictClosures%
	rdx\PhpstanExtra\Php\PropertyTypeClosureRule:
		phpstan.rules.rule: %rdx_php.strictClosures%

parametersSchema:
	rdx_php: structure([
		toStringConversion: bool()
		strictClosures: bool()
		errorSuppressionEnabled: bool()
		errorSuppressionAllowFunctionCall: bool()
		unusedVariablesEnabled: bool()
		foreachByReferenceValueEnabled: bool()
		staticFunctionVariablesEnabled: bool()
	])
