parameters:
	rdx_dbfw:
		aroPropertiesSchemaFile: '' # path/to/inc.db-schema.php

services:
	-
		class: rdx\PhpstanExtra\DbFw\AroPropertyExtension
		arguments:
			schemaFile: %rdx_dbfw.aroPropertiesSchemaFile%
		tags: [phpstan.broker.propertiesClassReflectionExtension]

parametersSchema:
	rdx_dbfw: structure([
		aroPropertiesSchemaFile: string()
	])
